@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Jacquard+12&display=swap');

.fz-logo-font {
  font-family: "Jacquard 12", system-ui;
}

.page-title {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-size: 2.5rem;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  color: #222;
  font-family: "DM Mono", monospace;
  font-size: .8rem;
  line-height: 1.5;
  margin: 1rem;

  background-image: url("/img/bg.jpg");
  background-attachment: fixed;
}

header {
  border-bottom: 1px dashed #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px dashed #222;
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: 0.8rem;
}

a {
  color: #007316;
  text-decoration: underline;
}

/*BASIC FORMATTING*/
h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem 0;
  line-height: 1.2;
}

ul, ol {
  margin: 0.5rem 0;
}

p {
  margin: 0 0 0.5rem 0;
}

/*PAGE WRAPPER*/
#page-wrapper {
  max-width: 800px;
  min-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e6ffe0;
  border: black 3px solid;
}

/*HEADER*/
#fz-logo {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-size: 3rem;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

/*NAV*/
#nav {

}

#nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 10px;
  gap: 5px;
  margin: 0
}

#nav ul li {
  padding: 15px 0 15px 0;
}

#nav ul li a{
  background-color: #fff;
  padding: 10px;
  border: 1px #102e00 solid;
  box-shadow: 3px 3px 0 #1c4500;
}

#nav ul li a:hover{
  background-color: #d0ffbf;
}

#nav ul li a.active{
  background-color: #467335;
  color: #fff;
}
/*END NAV*/

/*FZ ROWS & COLUMNS*/
/*FZ ROWS*/
.fz-row-wrapper {
  width: 100%;
  margin-block-end: 1em;
  /*display: table-row;*/
}

.fz-row-title {
  font-weight: 800;
  font-size: x-large;
  border-bottom: 1px solid #000;
}

.fz-row {
  /*display: table;*/
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  padding: 10px 0;
}

/*FZ COLUMNS*/
.fz-col-wrapper {
  min-width: 180px;
  /*display: flex;*/
  flex-grow: 1;
  /*padding: 10px;*/
}

.fz-col {
  background-color: #fff;
  box-shadow: 3px 3px 0 #1c4500;
  border: 2px solid #102e00;
  width: 100%;
}

.fz-col-title-wrapper {
  border-bottom: 1px solid #000;
  padding: 5px 10px;
  background-color: #d0ffbf;
  display: flex;
}

.fz-col-title {
  font-weight: 800;
  font-size: large;
  width: 100%;
}

.fz-col-content {
  margin: 10px;
}

/*FZ BLOG SUMMARY*/
.fz-col-title-date {
  width: 100%;
  font-size: small;
  text-align: right;
  margin: auto 0;
  font-style: italic;
}

/*POSTS*/
.post-terms {
  border-top: 1px solid #000;
  margin-top: 1rem;
  padding-top: 1rem;
}

.post-terms-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
}