@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

body {
  color: #000;
  font-family: "DM Mono", monospace;
  line-height: 1.5;
  margin: 1rem;
  display: flex;
  justify-content: center;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  font-size: 0.8rem;
}

a {
  color: #00e;
  text-decoration: underline;
}

#page-wrapper {
  max-width: 700px;
  min-width: 300px;
  flex-wrap: wrap;
  padding: 10px;

}

#nav {

}

#nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 10px;
}

#nav ul li {
  padding-bottom: 15px;
}

#nav ul li a{
  background-color: #eee;
  padding: 10px;
  border: 1px black solid;
}

#nav ul li a:hover{
  background-color: #ddd;
}

#nav ul li a.active{
  background-color: #ccc;
}