<div class="fz-col-wrapper"
     {{ if .Get "width" }}
     style="width: {{ .Get "width" }} !important;"
     {{ end }}
>
    <div class="fz-col">
        {{ if .Get "title" }}
        <div class="fz-col-title-wrapper">
            <div class="fz-col-title">
            {{ .Get "title" }}
            </div>
            {{ if .Get "subtitle" }}
            <div class="fz-col-subtitle">
                {{ .Get "subtitle" }}
            </div>
            {{ end }}
        </div>
        {{ end }}
        <div class="fz-col-content-wrapper"
             {{ if .Get "height" }}
             style="height: {{ .Get "height" }} !important; overflow: auto;"
             {{ end }}
        >
            <div class="fz-col-content">
                {{ .Inner }}
            </div>
        </div>
    </div>
</div>